:host {
  display: block;
  padding: 2rem 3rem;
  height: 83vh;
  position: relative
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 90%;
}

.left, .right {
  height: 100%;
  overflow: scroll;
  flex-grow: 1;
  max-width: 50%;
}

@media (max-width: 778px) {

  .mobile-hidden {
    display: none;
  }

  .left, .right {
    max-width: unset;
    //width: 100%;
  }

  .right {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 1.5rem;
    width: calc(100vw - 3rem);
  }

}
